<%- include("partials/header") %>
<br><br><br><br><br><br><br><br><br><br><br><br>

<h2 style="text-align:center" class="card"><%= currentUser.username%></h2>
<br><br><br>
<div class="card">
<br>
<% if (currentUser) { %>
 <img src="https://www.w3schools.com/w3images/team2.jpg" alt="John" style="width:100%">
  <h1><%= currentUser.firstname %>   <%= currentUser.Surname %></h1>
  <p class="title"><%= currentUser.School %></p>
  <p class="title"><strong><%= currentUser.Level %></strong></p>
  <p ><strong><%= currentUser.mail %></strong></p>
  <%  } %>
</div>


<%- include("partials/footer") %>