<%- include("../partials/header") %>
<style>

.ff{
    width: 400px;
    height: auto;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.js{
    width: 400px;
    height: auto;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 8px;
    overflow: hidden;
    margin-top: -70px;
}

</style>
<br><br><br><br><br>

<div>   
  <div class="ff">
    <div class="info">
        <center><h1>PROFILE</h1></center>
              <h2><%= user.firstname %>  <%= user.Surname %></h2><Br>
              <h3>information</h3><Br>
              <div class="projects_data">
                  <i class='fas fa-school' style='font-size:24px'></i>
                  <p><%= user.School %></p><Br>
                      <i class='far fa-address-card' style='font-size:24px'></i>
                      <h4>Email</h4>
                      <p><%= user.mail %></p><Br>
                          <i class='fas fa-user-shield' style='font-size:24px'></i>
                          <h4>Level</h4>
                      <p> year <%= user.Level %></p>
               </div>
               <button  style="width: 30; height: 20; color: green;" ><a href="/profile/<%= user.id %>/edit">แก้ไข</a></button>
          </div>
    
      </div>
          <table class="js">
              <h1>ประวัติการ POST</h1>
            <tr>
              <th>ชื่อเรื่อง</th>
              <th>คอมเมน</th>
              <th>การจัดการ </th>
            </tr>
            <% userpost.forEach(function(pu){ %>
            <tr>
              <td><center><%= pu.name %></center></td>
              <td><center><%= pu.comments.length %></center></td>
              <td><center><a href="/edu/post/<%= pu._id %>">VIEW</a></center></td>
            </tr>
            <% }) %>
          </table>
      
  </div>


<%- include("../partials/footer") %>
