<%- include("../partials/header") %>
<br><br><br><br><br><br><br><br><br>
<section >
    <div class="leftbox">
      <div class="content">
        <h1>คลังความรู้</h1>
        <p>รีวิคณะต่างๆในระดับมหาวิทยาลัย</p>
      </div>
      
    </div>
    
    <% if (learning = null){ %>
      <h3><%= learning %></h3>
     <% } %>
    <div class="events">
      <%if (currentUser == null){ %>
        <%var toLogin = true } %>
      <% department.forEach(function(ln){ %>
        <ul class="u">
          <li class="l">
            <div class="time">
              <center>  <h1 style="font-size: 30px; font-weight: bold; font-family: sans-serif;"><%= ln.department %></h1></center>
          </div>
          <div class="detail">
            <h3 class="h"><%= ln.name %></h3>
            <p  style="font-size: 18;" class="para"><%= ln.desc %></p>
            <a href="/edu/departments/<%= ln._id %>" class="aherf">view detail</a>
           <br><br><br><br><br><br><br><br><br>

           
          </div>
          <div style="clear: both;"></div>
        </li>
      </ul>
          <% }); %> 
    </div>
 
  </section>
<%- include("../partials/footer") %>