<%- include("../partials/header") %>
<style>

.ff{
  width: 50%;
  height: auto;
  position: relative;
  margin: 4% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  opacity: 0.8;
}
.hh .imm{
  margin-left: auto;
  margin-right:auto;
  display:block;
}
@media screen and (max-width:800px) {
  .hero, .ff, .hh .imm {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
</style>
<br><br><br><br><br>
<div class="hero">
  <div class="ff">
      <div class="hh">
          <center><h1 style="font-size: 20px;"><%= department.name %></h1></center><br>
          <img class="imm" id="myImg"  src=<%= "../uploads/"+ department.image %>   width="400" height="400">
          <div id="myModal" class="modal">
            <span class="closes">&times;</span>
            <img class="modal-content" id="img01">
            </div>
      <br>
          
         <center> <h3 style="font-size: 18px;"><%= department.desc %></h3></center>
                  <Br>
              
                    <center> <p style="font-size: 16px;"><%= department.subject %></p></center>
      
              </div>
  </div>
</div>
<script>
    var modal = document.getElementById('myModal');
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");

    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
    }
    var span = document.getElementsByClassName("closes")[0];
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>

<%- include("../partials/footer") %>

