<%- include("../partials/header") %>
<br><br><br><br><br>
<section style=" width: 100%; height: 100vh; background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(https://cdn.marketingoops.com/wp-content/uploads/2014/12/education-booksOK.jpg);background-size: cover;">
    <br><br><br><br>
    <div class="socialshow">
    <form>
    <h1 style="font-size: 50px;font-weight: bolder;"><center><%= post.name %></center></h1>
    
    <center><img id="myImg"  src=<%= post.image %>   width="300" height="350"></center>
      <div id="myModal" class="modal">
      <span class="closes">&times;</span>
      <img class="modal-content" id="img01">
      </div>

    <h3 style="font-size: 20px;"><center><%= post.desc %></center></h3>  

    </form>
    
</div>
<% post.comments.forEach(function(comment){ %>
  <p><strong><%= comment.username %></strong> - <%= comment.text %></p>
<% }) %>
</section>
<script>
    var modal = document.getElementById('myModal');
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");

    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
    }
    var span = document.getElementsByClassName("closes")[0];
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>

<%- include("../partials/footer") %>