<%- include("../partials/header") %>
<style>

  .ff{
    width: 50%;
    height: auto;
    position: relative;
    margin: 4% auto auto auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    opacity: 0.8;
  }
  .hh .imm{
    margin-left: auto;
    margin-right:auto;
    display:block;
  }
  @media screen and (max-width:800px) {
    .hero, .ff, .hh .imm {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
  </style>
<br><br><br><br><br>
<section class="hero">
      <div >
        <div class="ff">
            <div class="hh">
                <center><h1><%= post.name %></h1></center><br>
                <img class="imm" id="myImg"  src=<%= "../uploads/"+ post.image %>   width="400" height="400">
                <div id="myModal" class="modal">
                  <span class="closes">&times;</span>
                  <img class="modal-content" id="img01">
                  </div>
            <br>
          </div>
            <P style="font-size: 20px;"><center><%= post.desc %></center></P>  
            <p>
              <br>
              <button class="likei" >LIKE</button>
              <br>
              <em>สร้างโดย:
                <%= post.author.username %>, <%= moment(post.createdAt).fromNow() %></em>
            </p>
    <% if (currentUser && post.author.id.equals(currentUser._id)|| currentUser && currentUser.isAdmin) { %>
      <form action="/edu/post/<%= post._id %>?_method=DELETE" method="POST">
        <button  style="width: 30; height: 20; color: green;" ><a href="/edu/post/<%= post._id%>/edit">แก้ไข</a></button>
        <button  style="width: 30; height: 20; color: red;" >ลบ</button>
      </form>
    <% } %>
 
</div>
<center>
  <button class="but but1">
  <a href="/edu/post/<%= post._id %>/comment/new" >Add new comment</a>
  </button>
  </center>
      </div>



<br>
<% post.comments.forEach(function(comment){ %>
  <br>
  <div class="commentshow">
  <form>
  <p style="font-size: 18px;"><strong><%= comment.author.username %></strong> - <%= comment.text %></p><hr>
 
</form>
<% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
  <form action="/edu/post/<%= post._id %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
    <button  style="width: 30; height: 20; color: green;" ><a href="/edu/post/<%= post._id%>/comment/<%= comment._id %>/edit">แก้ไข</a></button>
    <button  style="width: 30; height: 20; color: red;" >ลบ</button>
  </form>
<% } %>
</div>
<% }) %>

<script>
  var modal = document.getElementById('myModal');
  var img = document.getElementById('myImg');
  var modalImg = document.getElementById("img01");

  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
  }
  var span = document.getElementsByClassName("closes")[0];
  span.onclick = function() { 
    modal.style.display = "none";
  }
  </script>


<%- include("../partials/footer") %>
